{{ $item := . }}
<div class="media stream-item">
  <div class="media-body">
    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
    </div>

    <div class="stream-meta article-metadata">
      {{ partial "page_metadata_authors" $item }}
      
      {{/* Only renders the year if show_date is NOT false */}}
      {{ if ne $item.Params.show_date false }}
        <span class="article-date">({{ $item.Date.Format "2006" }})</span>
      {{ end }}
    </div>

    {{ if $item.Params.publication }}
      <div class="stream-meta article-metadata">
        {{ $item.Params.publication | markdownify }}
      </div>
    {{ end }}
  </div>
</div>
